{% load static %}
{% for group in groups %}
<div class="roomListRoom">
    <div class="roomListRoom__header">
     <!-- a  class="roomListRoom__author" -->
     
        <div class="avatar avatar--small">
          <img src="{{group.user.avatar.url}}" />
        </div>
        <div style="text-align: right;" class="roomListRoom__content">
      <a href="#">{{group.group_name}}</a>
      
       
     
    </div>
      
      <div class="roomListRoom__actions">
        <span>{{group.genre}}</span>
      </div>
    </div>
    {% if request.user.id != group.user.id %}
              <a href="{% url 'create-message' group.id %}" class="btn btn--sub btn--lg">Send Message </a>
    {% endif %}
    
    
</div>
{% endfor %}