{% load static %}
{% for musician in musicians %}
<div class="roomListRoom">
    <div class="roomListRoom__header">
     <!-- a  class="roomListRoom__author" -->
     
        <div class="avatar avatar--small">
          <img src="{{musician.user.avatar.url}}" />
        </div>
        <span>{{musician.user.first_name}} {{musician.user.last_name}}</span>
      </a>
      <div class="roomListRoom__actions">
        <span>{{group.genre}}</span>
      </div>
    </div>
    <div class="roomListRoom__content">
      <a href="#">{{group.group_name}}</a>
      
        <img src="{{group.user.avatar.url}}">
     
    </div>
    
</div>
{% endfor %}